list/Introdução_Listas.pdf
dynamic_allocation/Linearidade_e_Nao_Linearidade.pdf
queue/Introdução+a+Filas.pdf
stack/Pilha.pdf
tree/Árvores+Binárias.pdf
tree/Exibição+Recursiva+de+Árvores+Binárias.pdf
tree/Árvores+-+Remoção.pdf
linear-structure-search/Busca+Sequencial.pdf
linear-structure-search/Busca+Binária.pdf
linear-structure-search/Busca+Tabela+Hash.pdf
queue/Introdução+a+Filas.pdf
.vscode/
.gitignore